<div class="container">
  <div class="col-md-12 jumbotron" id="background-image">
    <div class="text-center">
      <h1> Buffalo News Mongo Scraper</h1>
    </div>

  </div>
  <div class="col-md-12">
    {{#if article}}
    {{#each article}}
    <div class="card">
      <div class="card-body">
      <div class="card-title">
        <h4>{{this.title}}</h4>
      </div>
      <div class="card-text">
        <p> {{this.summary}}</p>
        <a href={{this.link}} target="_blank">{{this.link}}</a>
        <br><br>
        <button type="button" class="btn btn-success" id="saveBtn" data-id={{this._id}}>Save Article</button>
      </div>
      </div>
    </div>
    <br>
    {{/each}}
    {{else}}
    <div class="card text-center">
      <div class="card-body">
        <h4>Sorry, no new articles found!</h4>
      </div>
    </div>
    {{/if}}
  </div>
</div>
<br>
<br>
<footer class="footer">
  <div class="container text-center">
    <p>Buffalo News Scraper, with Mongo! &copy; Nick Oetinger, with the help of the internet.</p>
  </div>
</footer>

